#taskoverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay-active #taskoverlay {
  display: flex;
}

.overlay-active header,
.overlay-active aside,
.overlay-active footer {
  display: none !important;
}

#taskoverlay iframe {
  background: white;
  border-radius: 26px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 592px;
  width: 1155px;
}

#taskoverlay #cont-left.content-left {
  width: -webkit-fill-available;
  height: auto;
  display: flex;
  flex-direction: column;
}


#taskoverlay .content-right {
  width: -webkit-fill-available;
  height: auto;
  display: flex;
  flex-direction: column;
}

#taskoverlay #taskover-cont {
  display: flex;
        padding-left: 0px;
        padding-right: 0px;
        gap: 0px;
        flex-direction: row;
}
