.board-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 48px;
}

.board-header h1 {
    font-weight: 700;
    font-size: 61px;
}

.board-input-container {
    display: flex;
    gap: 32px;
}

.board-input-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #A8A8A8;
    width: 312px;
    height: 48px;
    padding: 8px;
}

.board-input-field button {
    border: none;
    background-color: #FFFFFF;
    width: 48px;
    height: 32px;
}

#find-task {
    height: 32px;
    border: none;
}

#find-task:focus {
    outline: none;
}

#find-task::placeholder {
    font-weight: 400;
    font-size: 20px;
    color: #D1D1D1;
    padding-left: 12px;
}

.add-task-button {
    font-size: 21px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2A3647;
    color: #FFFFFF;
    padding: 8px 16px 8px 16px;
    border-radius: 10px;
    border: 1px solid;
}

.board-lists {
    display: flex;
    margin: 0 48px 0 48px;
    gap: 26px;
}

.list {
    width: 244px;
}

.list-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.list-head h3 {
    font-weight: 700;
    font-size: 20px;
    color: #42526E;
}

.list-head button {
    border-radius: 8px;
    border: 2px solid #2A3647;
    color: #2A3647;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-no-task {
    background-color: #E7E7E7;
    border: 1px solid #A8A8A8;
    border-style: dashed;
    border-radius: 10px;
    padding: 12px 64px 12px 64px;
}

.list-no-task p {
    color: #A8A8A8;
    font-size: 16px;
    font-weight: 400;
}

.task-card {
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 16px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.category-user-story {
    background-color: #0038FF;
    padding: 4px 16px 4px 16px;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
}

.category-technical-task {
    background-color: #1FD7C1;
    padding: 4px 16px 4px 16px;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
}

.subtasks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.subtasks p {
    font-size: 12px;
}

.progress-border {
    border-radius: 8px;
    background-color: #F4F4F4;
    width: 60%;
    height: 8px;
}

.subtask-progress {
    background-color: #4589FF;
    border: none;
    border-radius: 8px;
    height: 8px;
}

.task-footer {
    display: flex;
    justify-content: space-between;
}

.assigned-task {
    display: flex;
}

.assigned-user-container {
    display: flex;
}

.assigned-user {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF7A00;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    margin-right: -6px;
    border: 1px solid #FFFFFF;
}

.task-footer button {
    border: none;
    background-color: #FFFFFF;
}

.drag-area-highlight {
    background-color: rgba(0, 0, 0, 0.05);
    transform: rotate(5deg);
}
