.close-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
}

.close-overlay:hover {
    background-color: #D1D1D1;
    border-radius: 50%;
}

.task-details {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(100%, -50%);
    background-color: #FFFFFF;
    max-height: calc(100vh - 120px);
    width: 525px;
    border-radius: 30px;
    padding: 48px 40px 48px 40px;
    animation: slideIn 0.5s forwards;
    overflow-y: auto;
    overflow-x: hidden;
}

.task-details::-webkit-scrollbar {
    display: none;
}

@keyframes slideIn {
    from {
        transform: translate(100%, -50%);
    }

    to {
        transform: translate(-50%, -50%);
    }
}

.content-overlay {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    height: 100%;
}

.content-overlay h3 {
    font-size: 61px;
    color: #000000;
    font-weight: 700;
}

.content-overlay h4 {
    font-size: 20px;
    color: #2A3647;
    font-weight: 400;
}

.content-overlay p {
    font-size: 20px;
    color: #000000;
    font-weight: 400;
}

.header-overlay {
    display: flex;
    justify-content: space-between;
}

.category-overlay {
    font-weight: 400;
    font-size: 23px;
    color: #FFFFFF;
}

.due-date-overlay {
    display: flex;
    justify-content: flex-start;
    gap: 25px;
}

.priority-overlay {
    display: flex;
    justify-content: flex-start;
    gap: 43px;
}

.priority-container-overlay {
    display: flex;
    align-items: center;
    gap: 10px;
}

.username-overlay {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 7px 16px 7px 16px;
}

#more-user-overlay {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 7px 16px 7px 16px;
}

#assigned-user-overlay,
.assigned-user-overlay-edit {
    width: 42px;
    height: 42px;
    border: 2px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#assigned-user-overlay p,
.assigned-user-overlay-edit p {
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}

.username {
    font-size: 19px;
    font-weight: 400;
    color: #000000;
}

#subtasks-overlay {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.subtask-overlay {
    display: flex;
    gap: 16px;
}

.subtask-overlay:hover {
    border-radius: 10px;
    background-color: #F1F1F1;
}

.footer-overlay {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    color: #D1D1D1;
    cursor: pointer;
}

.footer-link-overlay {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-link-overlay:hover .del,
.footer-link-overlay:hover .edit {
    color: #29abe2;
}

.footer-link-overlay:hover .ico,
.footer-link-overlay:hover .icor {
    fill: #29ABE2;
}


.footer-overlay p {
    font-weight: 400;
    font-size: 16px;
    color: #2A3647;
}

#delete-container:hover {
    color: #29ABE2;
    font-size: 16px;
    font-weight: 400;
    fill: #29ABE2;
}

#footer-delete {
    color: #2A3647;
    font-size: 16px;
    font-weight: 400;
}

#footer-edit {
    color: #2A3647;
    font-size: 16px;
    font-weight: 400;
}


.task-file.viewer-gallery>div {
    width: -webkit-fill-available !important;
    height: 128px;
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 4px;
    /* box-shadow: 0 0 8px #29ABE2; */
    filter: drop-shadow(0px 0px 4px #D1D1D1);
    position: relative;
    cursor: default !important;
}

.task-file.viewer-gallery>div img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 6px;
    filter: drop-shadow(0px 0px 1px black);
    object-fit: cover;
    object-position: center;
    cursor: zoom-in;
    margin-top: 0px !important;
    background-color: darkgray;

    &:hover {
        transform: scale(2.5) !important;
        transition: transform 0.5s ease-in-out !important;
    }
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    width: 80%;
    height: 90%;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

.modal-content iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.pdf-hover-icon {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: transparent !important;
    color: white;
    border-radius: 4px;
    font-size: 0px;
    display: none;
    filter: drop-shadow(0px 0px 2px white);
}



.pdf-preview-wrapper {
    position: relative;
    cursor: zoom-in !important;
}

.pdf-preview-wrapper:hover .pdf-hover-icon {
    display: block;
}

.pdf-preview-wrapper embed {
    width: 100%;
    height: 100px;
    border-radius: 4px;
    margin-top: 6px;
    pointer-events: none;
    overflow: hidden;
    scrollbar-width: none;
}

.pdf-preview-wrapper embed {
    display: none !important;
}

.viewer-gallery embed::-webkit-scrollbar {
    display: none !important;
}

.pdf-preview-wrapper {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    background: white;
    cursor: default !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

}


.pdf-preview-wrapper {
    overflow: hidden !important;

}

.file-controls {
    display: flex;
    flex-direction: row;
    gap: 8px;

}

.download-btn-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.preview-btn,
.download-btn,
.download-btn-img {
    width: 38px;
    height: 38px;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        filter: drop-shadow(0px 0px 2px black);

    }
}

button svg {
    color: #2A3647;
    transition: transform 0.2s;
}

button:hover svg {
    transform: scale(1.2);
    color: #29ABE2 !important;
    color: #29ABE2;
    font-size: 16px;
    font-weight: 400;
    fill: #29ABE2;
}

.file-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    max-width: 120px;
    font-size: 11px;
    text-align: center;
    color: #555;
    margin-top: 6px;
    word-break: break-word;
    cursor: default;
}


@media screen and (min-width: 540px) {
  body,
  p,
  span,
  a,
  label,
  button,
  input,
  textarea,
  select,
  div,
  th,
  td,
  ol,
  [contenteditable="true"] {
      font-size: 16px !important;
      /* line-height: 1.5 !important; */
  }

  input::placeholder,
  textarea::placeholder {
      font-size: 16px !important;
  }
}