
.close-icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.task-details {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    height: 931px;
    width: 525px;
    border-radius: 30px;
    padding: 48px 40px 48px 40px;
}

.content-overlay {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.content-overlay h3 {
    font-size: 61px;
    color: #000000;
    font-weight: 700;
}

.content-overlay h4 {
    font-size: 20px;
    color: #2A3647;
    font-weight: 400;
}

.content-overlay p {
    font-size: 20px;
    color: #000000;
    font-weight: 400;
}

.header-overlay {
    display: flex;
    justify-content: space-between;
}

.category-overlay {
    font-weight: 400;
    font-size: 23px;
    color: #FFFFFF;
}

.due-date-overlay {
    display: flex;
    justify-content: flex-start;
    gap: 25px;
}

.priority-overlay {
    display: flex;
    justify-content: flex-start;
    gap: 43px;
}

.priority-container-overlay {
    display: flex;
    align-items: center;
    gap: 10px;
}

.username-overlay {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 7px 16px 7px 16px;
}

#assigned-user-overlay {
    width: 42px;
    height: 42px;
    border: 2px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF7A00;
    border-radius: 50%;
}

#assigned-user-overlay p {
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}

.username {
    font-size: 19px;
    font-weight: 400;
    color: #000000;
    font-family: 'Open Sans';
}

#subtasks-overlay {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.subtask-overlay {
    display: flex;
    gap: 16px;
}

.subtask-overlay:hover {
    border-radius: 10px;
    background-color: #F1F1F1;
}

.footer-overlay {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    color: #D1D1D1;
    cursor: pointer;
}

.footer-link-overlay {
    display: flex;
}

.footer-overlay p {
    font-weight: 400;
    font-size: 16px;
    color: #2A3647;
}

#delete-container:hover {
    color: #29ABE2;
    font-size: 16px;
    font-weight: 400;
    fill: #29ABE2; 
}

#footer-delete {
    color: #2A3647;
    font-size: 16px;
    font-weight: 400;
}

#footer-edit {
    color: #2A3647;
    font-size: 16px;
    font-weight: 400;
}

#edit-icon path:hover {
    fill: #29ABE2;
}

#footer-delete:hover {
    color: #29ABE2;
}

#footer-edit:hover {
    color: #29ABE2;
}

.header-overlay-edit {
    display: flex;
    justify-content: flex-end;
}

.edit-overlay-label {
    font-size: 20px;
    font-weight: 400;
    color: #2A3647;
}

.overlay-edit-container {
    display: flex;
    flex-direction: column;
    width: 445px;
    gap: 24px;
}

.overlay-input-field {
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding: 12px 21px 12px 21px;
    font-size: 20px;
    font-weight: 400;
}

.overlay-input-field::placeholder {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
}

.overlay-textarea {
    min-height: 120px;
    max-width: 445px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding: 18px 16px 18px 16px;
    font-size: 20px;
    font-weight: 400;
}

.overlay-textarea::placeholder {
    color: #000000;
    font-size: 21px;
    font-weight: 400;
    font-family: 'Open Sans';
}

.overlay-input-field-date input {
    border: none;
}

.overlay-input-field-date img {
    width: 24px;
    height: 24px;
}

.overlay-input-field-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px 12px 16px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

#due-date-input {
    font-size: 20px;
    color: #000000;
    font-weight: 400;
}

#due-date-input::placeholder {
    font-size: 20px;
    color: #000000;
    font-weight: 400;
}

.overlay-input-field-date input:focus {
    outline: none;
}

.overlay-priority-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.overlay-priority-container label {
    color: #42526E;
    font-size: 19px;
    font-weight: 700;
    font-family: 'Open Sans';
}

.prio-label-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.prio-label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 10px;
    padding: 16px 10px 16px 10px;
    box-shadow:
        0px 0px 0.7px rgba(0, 0, 0, 0.024),
        0px 0px 1.1px rgba(0, 0, 0, 0.036),
        0px 0px 1.4px rgba(0, 0, 0, 0.033),
        0px 0px 1.7px rgba(0, 0, 0, 0.029),
        0px 0px 2.2px rgba(0, 0, 0, 0.036),
        0px 0px 4px rgba(0, 0, 0, 0.1);
}

#assigned-to {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
}

.button-ok-container {
    display: flex;
    justify-content: flex-end;
}

.button-ok {
    background-color: #2A3647;
    border-radius: 10px;
    gap: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border: none;
}

.button-ok p {
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 700;
}

.button-ok img {
    width: 24px;
    height: 24px;
}