
.close-icon {
    width: 32px;
    height: 32px;
}

.task-details {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    height: 931px;
    width: 525px;
    border-radius: 30px;
    padding: 48px 40px 48px 40px;
}

.content-overlay {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.content-overlay h3 {
    font-size: 61px;
    color: #000000;
    font-weight: 700;
}

.content-overlay h4 {
    font-size: 20px;
    color: #2A3647;
    font-weight: 400;
}

.content-overlay p {
    font-size: 20px;
    color: #000000;
    font-weight: 400;
}

.header-overlay {
    display: flex;
    justify-content: space-between;
}

.category-overlay {
    font-weight: 400;
    font-size: 23px;
    color: #FFFFFF;
}

.due-date-overlay {
    display: flex;
    justify-content: flex-start;
    gap: 25px;
}

.priority-overlay {
    display: flex;
    justify-content: flex-start;
    gap: 25px;
}

.priority-container-overlay {
    display: flex;
    align-items: center;
    gap: 10px;
}

.username-overlay {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 7px 16px 7px 16px;
}

#assigned-user-overlay {
    width: 42px;
    height: 42px;
    border: 2px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF7A00;
    border-radius: 50%;
}

#assigned-user-overlay p {
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}

.username {
    font-size: 19px;
    font-weight: 400;
    color: #000000;
    font-family: 'Open Sans';
}

#subtasks-overlay {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.subtask-overlay {
    display: flex;
    gap: 16px;
}

.footer-overlay {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    color: #D1D1D1;
    cursor: pointer;
}

.footer-link-overlay {
    display: flex;
    font-weight: 400;
    font-size: 16px;
    color: #2A3647;
}

.header-overlay-edit {
    display: flex;
    justify-content: flex-end;
}

.edit-overlay-label {
    font-size: 20px;
    font-weight: 400;
    color: #2A3647;
}

.overlay-edit-container {
    display: flex;
    flex-direction: column;
    width: 445px;
    gap: 24px;
}

.overlay-input-field {
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding: 12px 21px 12px 21px;
    font-size: 20px;
    font-weight: 400;
}

.overlay-input-field::placeholder {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
}

.overlay-textarea {
    min-height: 120px;
    max-width: 445px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding: 18px 16px 18px 16px;
    font-size: 20px;
    font-weight: 400;
}

.overlay-textarea::placeholder {
    color: #000000;
    font-size: 21px;
    font-weight: 400;
    font-family: 'Open Sans';
}

.overlay-priority-container label {
    color: #42526E;
    font-size: 19px;
    font-weight: 700;
    font-family: 'Open Sans';
}

.prio-label-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.prio-label {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    filter: blur(4);
    padding: 16px 10px 16px 10px;
}
