@media (max-width: 1250px) {
    .responsiveLogo {
        display: block;
        height: 56px;
        padding-left: 16px;
    }

    .main-link-responsive {
        color: #CDCDCD;
    }

    .sidebar {
        display: none;
    }
    
    .help-link {
        display: none;
    }

    .header-content p {
        display: none;
    }

    .detailsContainer {
        display: none;
        padding-left: 24px;
    }

    .contactsSection {
        width: 100%;
    }

    .header-content {
        margin: 0px 8px 0px 8px;
    }

    .headerSection {
        flex-direction: column;
        gap: 0px;
        align-items: baseline;
        margin-bottom: 32px;
        position: relative;
    }

    .contactsHeaderText {
        font-size: 54px;
        margin-bottom: 12px;
    }

    .separatorLine {
        height: 4px;
        width: 88px;
        background-color: #29ABE2;
        position: absolute;
        bottom: -32px;
    }   
    
    .contactsUnderText {
        font-size: 20px;
    }

    .selectedContactHeader {
        gap: 16px;
    }

    .contactButtons {
        display: none;
    }

    .addHeader {
        display: none;
    }

    .active_side {
        padding: 8px 12px 8px 12px;
        border-radius: 16px;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        padding-bottom: 72px;
}

    .responsive-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        background-color: #2A3647;
        z-index: 1000;
}

    .detailsInitialsCircle {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 27px;
        color: white;
        border: 3px solid #FFFFFF;
        margin-bottom: 0px;
    }

    #detailsName {
        font-size: 34px;
    }

}

@media (max-width: 450px) {
    .contactWrapper {
        width: 97%;
        padding: 14px 24px 15px 0px;
    }
    .initialsCircle {
        margin-right: 12px; margin-left: 12px;
    }

    .contactHeader {
        width: 90%;
        padding: 20px 24px 15px 10px;
    }
}

.show-details {
    display: flex;
    flex-direction: column;
}

.hide-contacts {
    display: none;
}

