.main-content {
    flex-grow: 1;
    background-color: #F6F7F8;
    overflow: auto;
    text-align: left;
}

.main-content h1 {
    margin-top: 60px;
    text-align: center;
}

.container {
    display: flex;
    height: 100vh;
}

.textcontainer {
    text-align: left;
    padding: 60px 60px 0px 60px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}