.responsiveLogo {
    display: none;
}

.responsive-footer {
    display: none;
    background-color: #2a3647;
}

.main-link-responsive {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 4px;
}

.main-links-container-responsive {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

@media (max-width: 899px) {
    .board-lists {
        flex-direction: column;
        padding: 0 20px 71px 20px;
    }

    .list {
        width: inherit;
        padding-bottom: 0;
    }

    .to-do, .in-progress, .await-feedback, .done {
        display: flex;
        gap: 12px;
        overflow: scroll;
    }

    .board-header {
        margin-right: 0;
        padding-bottom: 24px;
    }

    .board-input-container {
        display: none;
    }

    .add-task-button-responsive {
        display: flex;
    }

    .board-input-responsive {
        display: block;
        padding: 0 16px;
    }

    .board-search {
        display: flex;
        flex-direction: column;
        width: 100%;
    }   
}


@media (max-width: 720px) {
    .textcontainer {
        padding: 0px 16px 0px 16px;
        padding-bottom: 64px;
    }

    .header-content {
        margin: 0 16px 0 8px;
    }

    .main-content h1 {
        padding-left: 16px !important;
        font-size: 44px !important;
    }

    .sidebar {
        display: none;
    }

    .header-content p {
        display: none;
    }

    .responsiveLogo {
        display: block;
        height: 56px;
        padding-left: 16px;
    }

    .responsive-footer {
        display: flex;
        position: absolute;
        bottom: 0;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 30px;
        background-color: #2A3647;
        flex-direction: row;
    }

    .main-link-responsive {
        color: #CDCDCD;
    }

    .active_side {
        padding: 8px 12px 8px 12px;
        border-radius: 16px;
    }

    .help-link {
        display: none;
    }

    .submenu-help {
        display: block;
    }

    .submenu-content a:first-child {
        border-radius: 20px 0 0 0;
    }

    .submenu-content a:nth-child(2) {
        border-radius: 0;
    }

    .submenu-content {
        top: 76px;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
    }

    .opened {
        animation: slide-in 0.5s forwards;
        -webkit-animation: slide-in 0.5s forwards;
    }

    .closed {
        animation: slide-out 0.5s forwards;
        -webkit-animation: slide-out 0.5s forwards;
    }

    @keyframes slide-in {
        0% {
            -webkit-transform: translateX(100%);
        }

        100% {
            -webkit-transform: translateX(0%);
        }
    }

    @-webkit-keyframes slide-in {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(0%);
        }
    }

    @keyframes slide-out {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(100%);
        }
    }

    @-webkit-keyframes slide-out {
        0% {
            -webkit-transform: translateX(0%);
        }

        100% {
            -webkit-transform: translateX(100%);
        }
    }

    .board-lists {
        height: unset;
    }

    header {
        position: fixed;
    }

    .contactsSection, .main-content h1{
        padding-top: 96px;
    }

    .add-task-button-responsive {
        margin-top: 96px;
    }

    .main-content {
        overflow: scroll;
        -ms-overflow-style: none;
        /* for Internet Explorer, Edge */
        scrollbar-width: none;
        /* for Firefox */
    }

    .main-content::-webkit-scrollbar {
        display: none;
    }

    .to-do, .in-progress, .await-feedback, .done {
        -ms-overflow-style: none;
        /* for Internet Explorer, Edge */
        scrollbar-width: none;
        /* for Firefox */
    }

    .to-do::-webkit-scrollbar, .in-progress::-webkit-scrollbar, 
    .await-feedback::-webkit-scrollbar, .done::-webkit-scrollbar {
        display: none;
        /* for Chrome, Safari, and Opera */
    }

    .contactsSection {
        padding-top: 96px;
    }
}

.hidden {
    visibility: hidden;
}


@media (min-height: 1080px) {
    .privacy-legal {
        padding-bottom: 0;
    }
}

@media (max-width: 670px) {
    .privacy-legal {
        padding-bottom: 32px;
    }
}


/* add - task - mq */
/* @media(max-width:1200px) {
    .content-container {
        display: flex;
        padding-left: 0px;
        gap: 0px;
        flex-direction: column;
    }

    .content-left {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 100px 100px 0px 100px;
    }

    .content-right {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 100px 100px 0px 100px;
    }

    .prio-container {
        display: flex;
        justify-content: space-between;
        gap: 8px;
    }

    .separating-line {
        width: 2px;
        height: 0px;
        background-color: #D1D1D1;
    }

} */