@font-face {
    font-family: 'Inter';
    src: url("../fonts/Inter-VariableFont_opsz\,wght.ttf");
}

*{
    font-family: 'Inter';
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #f6f7f8;
}

a {
    cursor: pointer;
    text-decoration: none;
}

button {
    font-weight: 700;
    font-size: 20px;
    line-height: 19.2px;
    cursor: pointer;
    border: 1px;
    border-radius: 8px;
    padding: 15px 24px 15px 24px;

}