header {
    width: 100%;
    height: 96px;
    background-color: #FFFFFF;
    filter: drop-shadow(0px -1px 2px #000000);
}

.header-content {
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 48px 0 96px;
}

.header-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.header-icons img{
    width: 32px;
    height: 32px;
}

.user-icon {
    border-radius: 50%;
    border: 3px solid #2A3647;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #29ABE2;
}

.header-content p {
    font-size: 20px;
    font-weight: 400;
}

.sidebar {
    width: 232px;
    height: 100vh;
    background-color: #2A3647;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.sidebar-logo {
    padding: 20px;
}

.sidebar-logo img {
    width: 100px;
    height: 120px;
}

.main-links-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.main-links-container a {
        width: 100%;
        text-align: center;
        display: inline-flex;
        align-items: center;
        gap: 20px;
        padding: 10px 50px;
}

.main-link {
    background-color: #2A3647;
    color: #CDCDCD;
    margin: 8px 0px 8px;
}

.main-link img {
    width: 30px;
    height: 30px;
}

.legal-links-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    width: 100%;
}

.legal-link {
    text-align: center;
    width: 100%;
    color: #A8A8A8;
    background-color: #2A3647;
    border: none;
    margin: 8px 0px 8px;
    padding: 6px;
}

.active_side {
    padding: 8px 0px 8px 0px;
    background-color: #091931;
}

[type="checkbox"] {
    position: relative;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("../assets/icons/unchecked_icon.png");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

[type="checkbox"]:checked {
    background-image: url("../assets/icons/checked_icon.png");
}

[type="checkbox"] + label {
    cursor: pointer;
}

[type="checkbox"]:hover {
    background-image: url("../assets/icons/unchecked_hover_icon.png");
}

[type="checkbox"]:checked:hover {
    background-image: url("../assets/icons/checked_hover_icon.png");
}
