.overall-container {
    background-color: #F6F7F8;
}

.headline-span {
    display: flex;
    align-items: center;
    gap: 30px;
}

.main-content h1 {
    margin-top: 36px;
    text-align: left;
    margin-bottom: 36px;
    padding-left: 60px;
    font-size: 73px;
}

.h-2 {
    font-size: 64px;
}

.seperator-line {
    height: 59px;
    width: 2px;
    background-color: #29ABE2;
}

.key-metrics-span {
    font-size: 27px;
    color: #2A3647;

}

.top {
    display: flex;
    justify-content: space-between;
    
}

.summary-content-container {
    width: 560px;
    height: 562px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
}

.todo-container {
    width: 264px;
    height: 168px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    text-align: center;
    border-radius: 30px;
    background-color: #FFFFFF;
}

.done-container {
    width: 264px;
    height: 168px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    text-align: center;
    border-radius: 30px;
    background-color: #FFFFFF;
    filter: drop-shadow(0px 0px 0.5px #D1D1D1);
}

.done-icon {
    height: 69px;
    width: 69px;
}

.todo-icon {
    height: 69px;
    width: 69px;
}

.urgent-date-container {
    height: 168px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    background-color: #FFFFFF;
    filter: drop-shadow(0px 0px 0.5px #D1D1D1);
}

.tasks-board-container {
    height: 168px;
    width: 168px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 30px;
    background-color: #FFFFFF;
    filter: drop-shadow(0px 0px 0.5px #D1D1D1);
}

.task-progress-container {
    height: 168px;
    width: 168px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 30px;
    background-color: #FFFFFF;
    filter: drop-shadow(0px 0px 0.5px #D1D1D1);

}

.task-feeback-container {
    height: 168px;
    width: 168px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 30px;
    background-color: #FFFFFF;
    filter: drop-shadow(0px 0px 0.5px #D1D1D1);

}

.bottom {
    display: flex;
    justify-content: space-between;
}

.greeting {
    font-size: 47px;
}

.user {
    font-size: 64px;
    color: #29ABE2;
    margin-top: 0px;
    text-align: left;
    margin-bottom: 0px;
    padding-left: 0px;

}

.overall-content-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.center-info {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.seperator-urgent-date {
    height: 102px;
    width: 2px;
    background-color: #D1D1D1;
}

.p-upcoming-deadline {
    font-size: 16px;
    font-weight: 400;
    color: #2A3647;
}

.center-info-date {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 12px;
}

.urgent-side {
    display: flex;
    align-items: center;
    gap: 18px;
}

.priorydate {
    font-size: 21px;
    color: #2A3647;
}

p {
    color: #2A3647;
    font-weight: 400;
}