@media (max-width: 1120px) {
    .greeting-user { display: none; }
    .greeting-user { 
        position: absolute;
        background: #f6f7f8;
        width: 67%;
        height: 84.4%;
        top: 99px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-name: fadeOut;
        animation-name: fadeOut;
     }
     @-webkit-keyframes fadeOut {
        0% {
            visibility: 1;
        }
        100% {
            visibility: 0;
            display: none;
        }
     }
     
     @keyframes fadeOut {
        0% {
            visibility: 1;
        }
        100% {
            visibility: 0;
            display: none;
        }
     }

    .top { gap: 12px !important; }

    .bottom { display: flex; justify-content: space-between; gap: 12px !important; }

    .headline-span { padding: 0px 0px 0px 60px !important; }

    .summary-content-container { width: -webkit-fill-available !important; padding: 36px 16% 0px 12% !important; justify-content: flex-start !important; background-color: transparent !important; gap: 28px !important; margin-top: 20px !important; }

    .seperator-line { display: none; }

    .separator-underline {
        display: block !important;
    }

    .headline-span { display: flex !important; gap: 0px !important; flex-direction: column !important; align-items: flex-start !important; }

    #summhl { margin-top: 36px !important; margin-bottom: 0px !important; padding-left: 0px !important; }

    .todo-container, .done-container { height: 140px !important; transform: none !important; scale: 1 !important; translate: none !important; transition: none !important; }

    .urgent-date-container { height: 140px !important; width: -webkit-fill-available; transform: none !important; scale: 1 !important; translate: none !important; transition: none !important; }

    .tasks-board-container, .task-progress-container, .task-feedback-container { height: 140px !important; transform: none !important; scale: 1 !important; translate: none !important; transition: none !important; }
}

@media (max-width: 920px) {
    .overall-content-container { display: flex; align-items: center; gap: 80px; margin-left: 0% !important; }
}

@media (max-width: 780px) {
    .top { gap: 12px !important; }

    .summary-content-container { width: -webkit-fill-available !important; padding: 36px 10% 0px 10% !important; justify-content: flex-start !important; background-color: transparent !important; gap: 48px !important; margin-top: 24px !important; }

    .todo-container, .done-container { height: 100px !important; transform: none !important; scale: 1 !important; translate: none !important; transition: none !important; }

    .key-metrics-span { font-size: 16px !important; padding: 0px 0px 0px 0px !important; }

    .separator-underline {
        width: 70px !important;
        height: 2px !important;
        margin-top: 12px !important;
    }

    .todo-icon, .done-icon, .prioimg { height: 38px !important; width: 38px !important; }

    #show-todos, #show-done, #show-urgent, #show-tasks-board, #show-tasks-progress, #show-tasks-await-feedback { font-size: 38px; }

    .urgent-date-container { height: 100px !important; width: -webkit-fill-available; transform: none !important; scale: 1 !important; translate: none !important; transition: none !important; }

    #priory-date { font-size: 20px; }

    .tasks-board-container, .task-progress-container, .task-feedback-container { height: 100px !important; transform: none !important; scale: 1 !important; translate: none !important; transition: none !important; }

    .headline-span { padding: 0px 0px 0px 60px !important; }

    .seperator-urgent-date { height: 58px !important; }

    .bottom { display: flex; justify-content: space-between; gap: 12px !important; }
}

@media(max-width:720px) {
    .greeting-user { 
        width: 100%;
        top: 75px;
    }
    .top {
        gap: 12px !important;
    }

    .previousArrow {
        margin-top: 72px;
    }

    .legalNoticeHeader {
        padding: 0px 16px 0px 16px !important;
    }

    .summary-content-container {
        width: -webkit-fill-available !important;
        padding: 36px 12% 0px 12% !important;
        justify-content: flex-start !important;
        background-color: transparent !important;
        gap: 48px !important;
        margin-top: 24px !important;
    }

    .todo-container,
    .done-container {
        height: 100px !important;
        transform: none !important;
        scale: 1 !important;
        translate: none !important;
        transition: none !important;
    }

    .key-metrics-span {
        font-size: 16px !important;
        padding: 0px 0px 0px 0px !important;
    }

    .todo-icon,
    .done-icon,
    .prioimg {
        height: 38px !important;
        width: 38px !important;
    }

    #show-todos,
    #show-done,
    #show-urgent,
    #show-tasks-board,
    #show-tasks-progress,
    #show-tasks-await-feedback {
        font-size: 38px;
    }

    .urgent-date-container {
        height: 100px !important;
        width: -webkit-fill-available;
        transform: none !important;
        scale: 1 !important;
        translate: none !important;
        transition: none !important;
    }

    #priory-date {
        font-size: 20px;
    }

    .tasks-board-container,
    .task-progress-container,
    .task-feedback-container {
        height: 100px !important;
        transform: none !important;
        scale: 1 !important;
        translate: none !important;
        transition: none !important;
    }

    .headline-span {
        padding: 0px 0px 0px 60px !important;
    }

    .seperator-urgent-date {
        height: 58px !important;
    }

    .bottom {
        display: flex;
        justify-content: space-between;
        gap: 12px !important;
    }
}